@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}
:root {
    --white-color: hsl(0, 0%, 100%);
    --Light-Grey-color: hsl(217, 12%, 63%);
    --Medium-Grey-color: hsl(216, 12%, 54%);
    --Dark-Blue-color: hsl(213, 19%, 18%);
    --Very-Dark-Blue-color: hsl(216, 12%, 8%);
    --Orange: hsl(25, 97%, 53%);

}

p {
    font-size: 15px;
}

.container {
    display: flex;
    justify-items: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--Very-Dark-Blue-color);
    color: var(--Medium-Grey-color);
    font-family: 'Overpass', sans-serif;
}

.card {
    background-color: var(--Dark-Blue-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
}

.tanks-card{
    display: none;
}