@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
}
:root {
    --white-color: hsl(0, 0%, 100%);
    --Light-Grey-color: hsl(217, 12%, 63%);
    --Medium-Grey-color: hsl(216, 12%, 54%);
    --Dark-Blue-color: hsl(213, 19%, 18%);
    --Very-Dark-Blue-color: hsl(216, 12%, 8%);
    --Orange: hsl(25, 97%, 53%);

}

p {
    font-size: 15px;
}
h1, h2 {
    color: var(--white-color);
    font-weight: 700;
    letter-spacing: 0.1rem;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--Very-Dark-Blue-color);
    color: var(--Medium-Grey-color);
    font-family: 'Overpass', sans-serif;
}

.card , .tanks-card{
    background-color: var(--Dark-Blue-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 25rem;
    padding: 2rem;
    border-radius: 1.5625rem;
    gap: 1.5rem;
}

.card::before {
    content: '';
    display: block;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    background-color: hsla(217, 12%, 63%, 0.1);
    background-image: url("images/icon-star.svg");
    background-repeat: no-repeat;
    background-position: center;
}


ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-block: 1.2rem;

}

li{
    background-color: hsla(217, 12%, 63%, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.6rem;
    width: 2.6rem;
    cursor: pointer;
}

button{
    color: var(--white-color);
    background-color: var(--Orange);
    border: none;
    border-radius: 1.5rem;
    width: 100%;
    height: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    cursor: pointer;
}

button:hover{
    background-color: var(--white-color);
    color: var(--Orange);
}

li:focus{
    background-color: var(--Light-Grey-color) ;
    color: var(--white-color);
}

li:hover {
    background-color: var(--Orange);
    color: var(--white-color);
}

.tanks-card{
    text-align: center;
}

.tanks-card::before{
    content: "";
    display: block;
    background-image: url("images/illustration-thank-you.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    min-height: 10rem;
}

.tanks {
    color: var(--Orange);
    background-color: hsla(217, 12%, 63%, 0.1);
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border-radius: 1.5rem;
    width: fit-content;
    margin-inline: auto;
}


.ignore{
    display: none;
}